* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* HEADER */

/* I removed the "." in-front of the header {} tags. */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* I replaced header h1 .seo {} w/ header h1 #seo {} */

header h1 #seo {
    color: #d9dcd6;
}

/* NAVIGATION-BAR */

/* I replaced the div {} tags w/ nav {} tags. */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* I relocated p {} */

p {
    font-size: 16px;
}

/* MAIN-CONTENT */

/* I relocated .content {} */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* I replaced the .search-enging-optimization {} tags w/ .artcle-content {} tags.
   I deleted the .online-reputation-management {} and the .social-media-marketing {} tags.
   I relocated the .article-content {} tags. */

.article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.article-content img {
    max-height: 200px;
}

.article-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* SIDE-CONTENT */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* I replaced .benefit-lead {} w/ .section-content {}.
   I deleted the .benefit-brand {} and the .benefit-cost {} tags. */

.section-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.section-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

.section-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* FOOTER */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* I replaced .footer h2 {] w/ .footer h4 {} */

.footer h2 {
    font-size: 20px;
}